<h1>Editing contact_line</h1>

<%= error_messages_for :contact_line %>

<% form_for(@contact_line) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :label %>
  </p>

  <p>
    <b>Value</b><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @contact_line %> |
<%= link_to 'Back', contact_lines_path %>
