<h1>Listing contact_lines</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Value</th>
  </tr>

<% for contact_line in @contact_lines %>
  <tr>
    <td><%=h contact_line.label %></td>
    <td><%=h contact_line.value %></td>
    <td><%= link_to 'Show', contact_line %></td>
    <td><%= link_to 'Edit', edit_contact_line_path(contact_line) %></td>
    <td><%= link_to 'Destroy', contact_line, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact_line', new_contact_line_path %>
